/*
*  İndex
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*  Banu
*/

.section {
    &--testimonial,
    &--statics {
        @include media-breakpoint-down(sm) {
            .container,
            .col-md-12 {
                padding-right: 0;
                padding-left: 0;
            }

            .row {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
    &--testimonial {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-home {
    &--padding {
        @include media-breakpoint-down(sm) {
            margin-top: 5%;
        }
        width: 100%;
        max-width: 752px;
    }
}

.who-we-are {
    &__link {
        color: $color-black;
        &:hover,
        &:active {
            text-decoration: none;
        }
    }
}

.info-box {
    &__title {
        @include media-breakpoint-down(sm) {
            margin-top: rem(16px);
        }
    }
}

ul {
    padding-left: 20px;
}

h2 {
    color: $color-dark-gray;
}

.main-nav-toggler--mobile {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}
