@font-face {
    font-family: "hk-font-icon";
    src: url($path + '/fonts/hk-font-icon.eot?v=51087137787948041633681766577');
    src: url($path + '/fonts/hk-font-icon.eot?#iefix?v=51087137787948041633681766577') format('eot'),
    url($path + '/fonts/hk-font-icon.woff?v=51087137787948041633681766577') format('woff'),
    url($path + '/fonts/hk-font-icon.ttf?v=51087137787948041633681766577') format('truetype'),
    url($path + '/fonts/hk-font-icon.svg#hk-font-icon?v=51087137787948041633681766577') format('svg');
    font-display: block;
}

@mixin hk-icon--styles {
    font-family: "hk-font-icon";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
}

%hk-icon- {
    @include hk-icon--styles;
}

@function hk-icon--char($filename) {
    $char: "";

    @if $filename == accident {
    $char: "\E001";
}
    @if $filename == alarm {
    $char: "\E002";
}
    @if $filename == around {
    $char: "\E003";
}
    @if $filename == arrow-bold-right {
    $char: "\E004";
}
    @if $filename == arrow-down {
    $char: "\E005";
}
    @if $filename == arrow-right {
    $char: "\E006";
}
    @if $filename == arrow-up {
    $char: "\E007";
}
    @if $filename == award {
    $char: "\E008";
}
    @if $filename == bank {
    $char: "\E009";
}
    @if $filename == banknot {
    $char: "\E00A";
}
    @if $filename == bars {
    $char: "\E00B";
}
    @if $filename == bill-ok {
    $char: "\E00C";
}
    @if $filename == bill {
    $char: "\E00D";
}
    @if $filename == book {
    $char: "\E00E";
}
    @if $filename == build {
    $char: "\E00F";
}
    @if $filename == calculate-separated {
    $char: "\E010";
}
    @if $filename == calculate {
    $char: "\E011";
}
    @if $filename == calendar {
    $char: "\E012";
}
    @if $filename == car-insurance {
    $char: "\E013";
}
    @if $filename == car {
    $char: "\E014";
}
    @if $filename == certificate {
    $char: "\E015";
}
    @if $filename == checklist-multicolor {
    $char: "\E016";
}
    @if $filename == clock {
    $char: "\E017";
}
    @if $filename == clone-multicolor {
    $char: "\E018";
}
    @if $filename == comment {
    $char: "\E019";
}
    @if $filename == credit-card-inquiry {
    $char: "\E01A";
}
    @if $filename == credit-card {
    $char: "\E01B";
}
    @if $filename == credit {
    $char: "\E01C";
}
    @if $filename == discount {
    $char: "\E01D";
}
    @if $filename == down {
    $char: "\E01E";
}
    @if $filename == dropdown {
    $char: "\E01F";
}
    @if $filename == earthquake {
    $char: "\E020";
}
    @if $filename == email-dark {
    $char: "\E021";
}
    @if $filename == email {
    $char: "\E022";
}
    @if $filename == energy-company {
    $char: "\E023";
}
    @if $filename == facebook {
    $char: "\E024";
}
    @if $filename == feature-1 {
    $char: "\E025";
}
    @if $filename == feature-10 {
    $char: "\E026";
}
    @if $filename == feature-11 {
    $char: "\E027";
}
    @if $filename == feature-12 {
    $char: "\E028";
}
    @if $filename == feature-13 {
    $char: "\E029";
}
    @if $filename == feature-2 {
    $char: "\E02A";
}
    @if $filename == feature-3 {
    $char: "\E02B";
}
    @if $filename == feature-4 {
    $char: "\E02C";
}
    @if $filename == feature-5 {
    $char: "\E02D";
}
    @if $filename == feature-6 {
    $char: "\E02E";
}
    @if $filename == feature-7 {
    $char: "\E02F";
}
    @if $filename == feature-8 {
    $char: "\E030";
}
    @if $filename == feature-9 {
    $char: "\E031";
}
    @if $filename == filter {
    $char: "\E032";
}
    @if $filename == gift-pack {
    $char: "\E033";
}
    @if $filename == googleplus {
    $char: "\E034";
}
    @if $filename == graph {
    $char: "\E035";
}
    @if $filename == hand-multicolor {
    $char: "\E036";
}
    @if $filename == happy-face {
    $char: "\E037";
}
    @if $filename == heart {
    $char: "\E038";
}
    @if $filename == home-banknot {
    $char: "\E039";
}
    @if $filename == home-equity-loan {
    $char: "\E03A";
}
    @if $filename == home-umbrella {
    $char: "\E03B";
}
    @if $filename == home {
    $char: "\E03C";
}
    @if $filename == id-card-multicolor {
    $char: "\E03D";
}
    @if $filename == instagram {
    $char: "\E03E";
}
    @if $filename == left {
    $char: "\E03F";
}
    @if $filename == lightning {
    $char: "\E040";
}
    @if $filename == linkedin {
    $char: "\E041";
}
    @if $filename == marriage {
    $char: "\E042";
}
    @if $filename == medium {
    $char: "\E043";
}
    @if $filename == mortar-board {
    $char: "\E044";
}
    @if $filename == multiple-files {
    $char: "\E045";
}
    @if $filename == ok-circle {
    $char: "\E046";
}
    @if $filename == ok {
    $char: "\E047";
}
    @if $filename == old-people {
    $char: "\E048";
}
    @if $filename == plane-world {
    $char: "\E049";
}
    @if $filename == play {
    $char: "\E04A";
}
    @if $filename == policeni-sorgula {
    $char: "\E04B";
}
    @if $filename == policy {
    $char: "\E04C";
}
    @if $filename == proceed {
    $char: "\E04D";
}
    @if $filename == refresh {
    $char: "\E04E";
}
    @if $filename == right {
    $char: "\E04F";
}
    @if $filename == rocket {
    $char: "\E050";
}
    @if $filename == safe-box {
    $char: "\E051";
}
    @if $filename == save-money {
    $char: "\E052";
}
    @if $filename == scrollup {
    $char: "\E053";
}
    @if $filename == search {
    $char: "\E054";
}
    @if $filename == secure {
    $char: "\E055";
}
    @if $filename == shield {
    $char: "\E056";
}
    @if $filename == shop {
    $char: "\E057";
}
    @if $filename == slide-left {
    $char: "\E058";
}
    @if $filename == slide-right {
    $char: "\E059";
}
    @if $filename == spinner {
    $char: "\E05A";
}
    @if $filename == stopwatch {
    $char: "\E05B";
}
    @if $filename == store-multicolor {
    $char: "\E05C";
}
    @if $filename == store {
    $char: "\E05D";
}
    @if $filename == student-book {
    $char: "\E05E";
}
    @if $filename == sugar {
    $char: "\E05F";
}
    @if $filename == tag-heart {
    $char: "\E060";
}
    @if $filename == tag {
    $char: "\E061";
}
    @if $filename == times-circle {
    $char: "\E062";
}
    @if $filename == times {
    $char: "\E063";
}
    @if $filename == traffic-lamb {
    $char: "\E064";
}
    @if $filename == trophy {
    $char: "\E065";
}
    @if $filename == twitter {
    $char: "\E066";
}
    @if $filename == umbrella-multicolor {
    $char: "\E067";
}
    @if $filename == umbrella {
    $char: "\E068";
}
    @if $filename == up {
    $char: "\E069";
}
    @if $filename == warning-circle {
    $char: "\E06A";
}
    @if $filename == world {
    $char: "\E06B";
}
    @if $filename == wrench-multicolor {
    $char: "\E06C";
}
    @if $filename == youtube {
    $char: "\E06D";
}

@return $char;
}

@mixin hk-icon-($filename, $insert: before, $extend: true) {
&:#{$insert} {
    @if $extend {
        @extend %hk-icon-;
    } @else {
        @include hk-icon--styles;
    }
    content: hk-icon--char($filename);
}
}

.hk-icon--accident {
    @include hk-icon-(accident);
}
.hk-icon--alarm {
    @include hk-icon-(alarm);
}
.hk-icon--around {
    @include hk-icon-(around);
}
.hk-icon--arrow-bold-right {
    @include hk-icon-(arrow-bold-right);
}
.hk-icon--arrow-down {
    @include hk-icon-(arrow-down);
}
.hk-icon--arrow-right {
    @include hk-icon-(arrow-right);
}
.hk-icon--arrow-up {
    @include hk-icon-(arrow-up);
}
.hk-icon--award {
    @include hk-icon-(award);
}
.hk-icon--bank {
    @include hk-icon-(bank);
}
.hk-icon--banknot {
    @include hk-icon-(banknot);
}
.hk-icon--bars {
    @include hk-icon-(bars);
}
.hk-icon--bill-ok {
    @include hk-icon-(bill-ok);
}
.hk-icon--bill {
    @include hk-icon-(bill);
}
.hk-icon--book {
    @include hk-icon-(book);
}
.hk-icon--build {
    @include hk-icon-(build);
}
.hk-icon--calculate-separated {
    @include hk-icon-(calculate-separated);
}
.hk-icon--calculate {
    @include hk-icon-(calculate);
}
.hk-icon--calendar {
    @include hk-icon-(calendar);
}
.hk-icon--car-insurance {
    @include hk-icon-(car-insurance);
}
.hk-icon--car {
    @include hk-icon-(car);
}
.hk-icon--certificate {
    @include hk-icon-(certificate);
}
.hk-icon--checklist-multicolor {
    @include hk-icon-(checklist-multicolor);
}
.hk-icon--clock {
    @include hk-icon-(clock);
}
.hk-icon--clone-multicolor {
    @include hk-icon-(clone-multicolor);
}
.hk-icon--comment {
    @include hk-icon-(comment);
}
.hk-icon--credit-card-inquiry {
    @include hk-icon-(credit-card-inquiry);
}
.hk-icon--credit-card {
    @include hk-icon-(credit-card);
}
.hk-icon--credit {
    @include hk-icon-(credit);
}
.hk-icon--discount {
    @include hk-icon-(discount);
}
.hk-icon--down {
    @include hk-icon-(down);
}
.hk-icon--dropdown {
    @include hk-icon-(dropdown);
}
.hk-icon--earthquake {
    @include hk-icon-(earthquake);
}
.hk-icon--email-dark {
    @include hk-icon-(email-dark);
}
.hk-icon--email {
    @include hk-icon-(email);
}
.hk-icon--energy-company {
    @include hk-icon-(energy-company);
}
.hk-icon--facebook {
    @include hk-icon-(facebook);
}
.hk-icon--feature-1 {
    @include hk-icon-(feature-1);
}
.hk-icon--feature-10 {
    @include hk-icon-(feature-10);
}
.hk-icon--feature-11 {
    @include hk-icon-(feature-11);
}
.hk-icon--feature-12 {
    @include hk-icon-(feature-12);
}
.hk-icon--feature-13 {
    @include hk-icon-(feature-13);
}
.hk-icon--feature-2 {
    @include hk-icon-(feature-2);
}
.hk-icon--feature-3 {
    @include hk-icon-(feature-3);
}
.hk-icon--feature-4 {
    @include hk-icon-(feature-4);
}
.hk-icon--feature-5 {
    @include hk-icon-(feature-5);
}
.hk-icon--feature-6 {
    @include hk-icon-(feature-6);
}
.hk-icon--feature-7 {
    @include hk-icon-(feature-7);
}
.hk-icon--feature-8 {
    @include hk-icon-(feature-8);
}
.hk-icon--feature-9 {
    @include hk-icon-(feature-9);
}
.hk-icon--filter {
    @include hk-icon-(filter);
}
.hk-icon--gift-pack {
    @include hk-icon-(gift-pack);
}
.hk-icon--googleplus {
    @include hk-icon-(googleplus);
}
.hk-icon--graph {
    @include hk-icon-(graph);
}
.hk-icon--hand-multicolor {
    @include hk-icon-(hand-multicolor);
}
.hk-icon--happy-face {
    @include hk-icon-(happy-face);
}
.hk-icon--heart {
    @include hk-icon-(heart);
}
.hk-icon--home-banknot {
    @include hk-icon-(home-banknot);
}
.hk-icon--home-equity-loan {
    @include hk-icon-(home-equity-loan);
}
.hk-icon--home-umbrella {
    @include hk-icon-(home-umbrella);
}
.hk-icon--home {
    @include hk-icon-(home);
}
.hk-icon--id-card-multicolor {
    @include hk-icon-(id-card-multicolor);
}
.hk-icon--instagram {
    @include hk-icon-(instagram);
}
.hk-icon--left {
    @include hk-icon-(left);
}
.hk-icon--lightning {
    @include hk-icon-(lightning);
}
.hk-icon--linkedin {
    @include hk-icon-(linkedin);
}
.hk-icon--marriage {
    @include hk-icon-(marriage);
}
.hk-icon--medium {
    @include hk-icon-(medium);
}
.hk-icon--mortar-board {
    @include hk-icon-(mortar-board);
}
.hk-icon--multiple-files {
    @include hk-icon-(multiple-files);
}
.hk-icon--ok-circle {
    @include hk-icon-(ok-circle);
}
.hk-icon--ok {
    @include hk-icon-(ok);
}
.hk-icon--old-people {
    @include hk-icon-(old-people);
}
.hk-icon--plane-world {
    @include hk-icon-(plane-world);
}
.hk-icon--play {
    @include hk-icon-(play);
}
.hk-icon--policeni-sorgula {
    @include hk-icon-(policeni-sorgula);
}
.hk-icon--policy {
    @include hk-icon-(policy);
}
.hk-icon--proceed {
    @include hk-icon-(proceed);
}
.hk-icon--refresh {
    @include hk-icon-(refresh);
}
.hk-icon--right {
    @include hk-icon-(right);
}
.hk-icon--rocket {
    @include hk-icon-(rocket);
}
.hk-icon--safe-box {
    @include hk-icon-(safe-box);
}
.hk-icon--save-money {
    @include hk-icon-(save-money);
}
.hk-icon--scrollup {
    @include hk-icon-(scrollup);
}
.hk-icon--search {
    @include hk-icon-(search);
}
.hk-icon--secure {
    @include hk-icon-(secure);
}
.hk-icon--shield {
    @include hk-icon-(shield);
}
.hk-icon--shop {
    @include hk-icon-(shop);
}
.hk-icon--slide-left {
    @include hk-icon-(slide-left);
}
.hk-icon--slide-right {
    @include hk-icon-(slide-right);
}
.hk-icon--spinner {
    @include hk-icon-(spinner);
}
.hk-icon--stopwatch {
    @include hk-icon-(stopwatch);
}
.hk-icon--store-multicolor {
    @include hk-icon-(store-multicolor);
}
.hk-icon--store {
    @include hk-icon-(store);
}
.hk-icon--student-book {
    @include hk-icon-(student-book);
}
.hk-icon--sugar {
    @include hk-icon-(sugar);
}
.hk-icon--tag-heart {
    @include hk-icon-(tag-heart);
}
.hk-icon--tag {
    @include hk-icon-(tag);
}
.hk-icon--times-circle {
    @include hk-icon-(times-circle);
}
.hk-icon--times {
    @include hk-icon-(times);
}
.hk-icon--traffic-lamb {
    @include hk-icon-(traffic-lamb);
}
.hk-icon--trophy {
    @include hk-icon-(trophy);
}
.hk-icon--twitter {
    @include hk-icon-(twitter);
}
.hk-icon--umbrella-multicolor {
    @include hk-icon-(umbrella-multicolor);
}
.hk-icon--umbrella {
    @include hk-icon-(umbrella);
}
.hk-icon--up {
    @include hk-icon-(up);
}
.hk-icon--warning-circle {
    @include hk-icon-(warning-circle);
}
.hk-icon--world {
    @include hk-icon-(world);
}
.hk-icon--wrench-multicolor {
    @include hk-icon-(wrench-multicolor);
}
.hk-icon--youtube {
    @include hk-icon-(youtube);
}

