/*
*  CMS Styles
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.section {
    &--hk-offer {
        height: 0;
        padding: 0;
        opacity: 0;
    }
}

.table {
    font-size: rem(14px);
    text-align: left;
    td {
        padding: rem(4px);
        vertical-align: middle;
    }

    &-bordered tbody tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, .05);
    }
}

.comment {
    position: relative;
    margin: 30px 0;
    border: 1px solid darken($dark, 1%);

    &.comment-user {
        @include media-breakpoint-down(sm) {
            margin-left: 0;
        }
        position: relative;
        margin-left: 50px;

        &::before {
            position: absolute;
            top: -15px;
            width: 100%;
            height: 1px;
            border-top: 1px dashed lighten($dark, 60%);
            content: "";
        }

        &:first-child {
            margin-left: 200px;

            &::before {
                border-top: 0;
            }
        }
    }

    &.comment-author {
        @include media-breakpoint-down(sm) {
            margin-left: 20px;
        }
        margin-left: 150px;
    }

    &-header {
        position: relative;
        padding: 5px 10px;
        background-color: $dark;
        color: $white;

        &::before {
            position: absolute;
            top: 50%;
            left: -10px;
            width: 0;
            height: 0;
            margin-top: -10px;
            border-top: 10px solid transparent;
            border-right: 10px solid $dark;
            border-bottom: 10px solid transparent;
            content: "";
        }

        &::after {
            position: absolute;
            top: -4px;
            left: -50px;
            color: $dark;
            content: "";
        }
    }

    &-content {
        padding: 5px 10px;
        word-wrap: break-word;
    }
}

.data-table__item {
    @include media-breakpoint-down(sm) {
        padding: rem(20px) rem(5px);
        font-size: rem(14px);
    }
}

.form--payment-mail {
    border: rem(1px) solid $gray-300;
    border-radius: rem(5px);
}

.btn-comments__title {
    color: $color-dark-gray;
    &:hover {
        color: $color-dark-gray;
    }
}

.contentpage-date {
    margin-top: 0;
}

.main-nav-toggler--mobile {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}

.component--white {
    @include media-breakpoint-down(sm) {
        margin: 0 rem(8px);
    }
    padding: 1rem;
    background: white;
    box-shadow: 0 rem(15px) rem(22px) 0 rgba(0, 0, 0, 0.08);
}

.author {
    color: $gray-600;

    &__section-title {
        font-size: rem(18px);
        font-weight: bold;
    }
    &__image {
        display: block;
        width: 80px;
        height: 80px;
        border: 1px solid #EAEAEA;
        border-radius: 7px;
        background: #999999;
    }
    &__name {
        margin: 0;
        font-weight: bold;
    }
    a {
        color: $color-blue;
        &:hover {
            color: $color-dark-gray;
        }
    }

}