/*
*  Main Nav Desktop CSS Rules
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*  Aydin Cinar <aydin@hesapkurdu.com>
*/

@include media-breakpoint-up(md) {
    .main-nav {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        z-index: 99;

        &__logo {
            @include size(196px, 50px);
        }

        &__logo-link {
            padding: 22px;
        }

        &__list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            margin-bottom: 0;
        }

        &__item {
            position: relative;
            padding: 30px;
            border-bottom: 6px solid $color-white;
            font-size: 18px;
            list-style: none;
            cursor: pointer;
            
            &--active,
            &:hover {
                border-bottom: 6px solid $primary;
            }

            &:hover {

                .main-nav__link {
                    color: $primary;
                }

                & > .main-nav__sub-nav {
                    display: block;
                }
            }

            &:last-child .main-nav__sub-nav .main-nav__sub-nav {
                right: 100%;
                left: auto;
            }
        }

        &__link {
            position: relative;
            color: $color-text;
            font-family: $font-family-base;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        &__icon {
            display: none;
        }

        &__mobile-header {
            display: none;
        }

        &__sub-nav {
            display: none;
            position: absolute;
            top: 87px;
            left: 0;
            width: 100%;
            min-width: 175px;
            padding: 0;
            border-top: 6px solid $primary;
            background-color: $white;
            box-shadow: 0 15px 22px 0 rgba(0, 0, 0, .08);
            z-index: 99;

            &::before {
                @include  size(50% , 50px);
                display: block;
                position: absolute;
                top: -50px;
                left: 0;
                content: "";
            }

            .main-nav__sub-nav {
                display: none;
                top: 0;
                left: 100%;
            }
        }

        &__sub-nav__item {
            position: relative;
            font-size: 16px;
            list-style: none;

            &:hover {
                & > .main-nav__sub-nav {
                    display: block;
                }
            }
        }

        &__sub-nav__link {
            @include size(100%, 100%);
            display: block;
            padding: 12px 15px;

            &:hover {
                background-color: $gray-100;
            }
        }
    }
}

@media (min-width: 861px) and (max-width: 1024px) {
    .main-nav {
        &__item {
            padding-right: 15px;
            padding-left: 15px;
        }  
    }
}

@media (min-width: 768px) and (max-width: 860px) {
    .main-nav {
        &__item {
            padding-right: 10px;
            padding-left: 10px;
            font-size: 16px;
        }  
    }
}