/*
*  Career Page Styles
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.article {
    div, p {
        color: $gray-600;
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(24px);
    }
    h1 {
        margin: 2rem 0 1rem;
        color: $color-text;
        font-size: rem(21px);        
        font-weight: 800;
        line-height: rem(30px);
    }
    
    h2 {
        margin: 2rem 0 1rem;
        color: $color-text;
        font-size: rem(19px);        
        font-weight: 700;
        line-height: rem(27px);
    }
    
    h3 {
        margin: 2rem 0 1rem;
        color: $color-text;
        font-size: 1rem;
        font-weight: 700;
        line-height: rem(22px);
    }
    
    h4 {
        margin: 2rem 0 1rem;
        color: $color-text;
        font-size: 1rem;
        font-weight: 700;
        line-height: rem(20px);
    }

    span {
        color: #737373;
    }

    hr {
        margin: 2rem auto;
        border: 0;
        border-top: rem(1px) solid #E4E3E3;
    }

    p {
        margin: 1rem 0;
    }

    div img:not(.product-card__logo) {
        max-width: 100%;
        margin: 0 0 1rem;
    }

    .button-apply {
        display: block;
        min-height: 40px;
        margin: 0 0 1rem;
        padding: 10px;
        transition: background-color .15s ease-in-out;
        border-radius: .3rem;
        border-color: $secondary;
        background-color: $secondary;
        color: $color-white;
        font-size: 1rem;
        text-align: center;

        &:hover {
            border-color: #2B73DF;
            background-color: #367AE1;
            color: $color-white;
            text-decoration: none;
        }
    }
}

.text {
    @include media-breakpoint-up(sm) {
        font-size: rem(16px); 
    }

    color: $color-text;
    font-size: rem(14px);
    font-weight: 400;

    &--info {
        display: block;
        margin-bottom: .5rem;
        font-size: rem(14px);
    }

    &--copyright {
        font-size: rem(13px);
        font-style: italic;
    }
}

.main-nav-toggler--mobile {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
}