/*
*  Rating CMS Pages
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.rating-container {
    padding: 0;
}

.mobile-rating-container {
    display: inline-flex;
    padding-top: 1rem;
    float: right;
}
