/*
*  Widget
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*  Aydin Cinar <aydin@hesapkurdu.com>
*/

.widget {
    position: relative;
    padding: 1rem 1.25rem 1.25rem;
    background-color: $color-white;
    color: #737373;
    box-shadow: 0 15px 22px 0 rgba(0, 0, 0, .08);
}