/*
*  VAT Calculation Inquiry Styles
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.banner {
    &::before {
        @include media-breakpoint-down(sm) {
            background-attachment: scroll;
            background-image: url($path + "/images/banner/funnel-mobile-1px.jpg");
            background-size: 100% 100%;
            filter: brightness(100%);
        }
        @include media-breakpoint-up(sm) {
            background-image: url($path + "/images/banner/kdv-hesaplama-araci.jpg");
        }
    }
}

.funnel-form {
    @include media-breakpoint-down(sm) {
        min-height: 217px;
    }
    @include media-breakpoint-up(sm) {
        min-height: 201px;
    }
}

.article div img:not(.product-card__logo) {
    display: block;
    margin: 0 auto 1rem auto;
}