/*
* Button Settings
* Hesapkurdu Arge <arge@hesapkurdu.com>
*/

$btn-border-radius: 4px;
$btn-font-weight: 600;
$btn-focus-width: 1px;
$input-btn-padding-y: 1rem;
$input-btn-line-height: 1;

$dropdown-box-shadow: none;