/*
*  Colors
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

$primary: #E14C41;
$secondary: #5790E6;

$gray-100: #F6F6F6;
$gray-300: #979797;
$gray-400: #A8A2A2;
$gray-500: #6F6F6F;
$gray-600: #696969;
$gray-700: #4A4A4A;

$color-text: #737373; // body'de kullanacagimiz standart rengimiz.
$color-text-darker: #989898;
$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #337AB7;

$color-light-gray: $gray-100;
$color-medium-gray: $gray-400;
$color-gray: $gray-500;
$color-dark-gray: $gray-700;
