/*
* Popover Settings
* Hesapkurdu Arge <arge@hesapkurdu.com>
*/

$popover-bg: $color-white;
$popover-body-color: $color-text;
$popover-header-color: $color-text;
$popover-border-radius: 0;
$popover-border-width:  0;
$popover-header-padding-y: .8rem;
$popover-header-padding-x: 1.2rem;
$popover-arrow-color: $primary;
$popover-arrow-width: 1.5rem;
$popover-arrow-height: .8rem;