/*
* Tooltip Settings
* Hesapkurdu Arge <arge@hesapkurdu.com>
*/

$tooltip-color: $color-text;
$tooltip-bg: $color-white;
$tooltip-border-radius: 0;
$tooltip-opacity: 1;
$tooltip-padding-y: .8rem;
$tooltip-padding-x: .8rem;
$tooltip-margin: 0 !default;
$tooltip-arrow-width: 1.5rem;
$tooltip-arrow-height: .8rem;
$tooltip-arrow-color: $primary;