/*
*  Personal Loan Reason Styles
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.banner {
    &::before {
        @include media-breakpoint-down(sm) {
            background-attachment: scroll;
            background-image: url($path + "/images/banner/funnel-mobile.jpg");
            background-size: 100% 100%;
        }
        background-image: none;
        background-position: 0 100%;
    }
}

.funnel-form {
    @include media-breakpoint-up(sm) {
        width: 535px;
        margin: 0 auto;
    }
}

.list-group {
    @include media-breakpoint-up(sm) {
        height: 100%;
    }
}

h2 {
    @include media-breakpoint-up(sm) {
        font-size: rem(24px); 
    }
    margin: 2em 0 1rem;
    color: $color-text;
    font-size: rem(20px);        
    font-weight: 700;
    line-height: 1;

    &.h2 {
        margin-top: 0;
    }
}

h3, h4, h5, p, ul, li  {
    color: $color-text; 
}

img {
    max-width: 100%;
}

.table {
    @include media-breakpoint-down(sm) {
        font-size: rem(10px);
    }
    color: #737373;
    font-size: rem(14px);
    text-align: left;
    td {
        padding: rem(4px);        
        vertical-align: middle;
    }

    &-bordered tbody tr:nth-of-type(even) {
        background-color: rgba(0, 0, 0, .05);
    }
}