/*
*  Px To Rem
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*  Aydın Çınar <aydin@hesapkurdu.com>
*/


@function rem($font-size) {
    $base: 16px;

    @if variable_exists(base-font-size) {
        $base: $base-font-size;
    }

    $u: unit($font-size);

    // rem calculations
    @if ($u == "rem") {
        @return $font-size;
    } @else {
        $convert: $font-size/$base;
        @return #{$convert}rem;
    }
}