/*
*  Individual Pension Inquiry Styles
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.section {
    &--testimonial {
        padding-top: 0;
    }

    &--redirect {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.banner::before {
    @include media-breakpoint-down(md) {
        background-position: center;
    }
    background-image: url($path + "/images/banner/bg-bes.jpg");
    background-position: 0 120%;
}

.funnel-form {
    @include media-breakpoint-up(sm) {
        width: 425px;
        margin: 0 auto;
        padding: 20px 30px;
    }
    padding: 20px 0 0;
    text-align: left;

    .redirect-info {
        margin-top: 1rem;
        margin-bottom: 0;
        color: $color-text;
        font-size: 12px;
    }
}

.brands__image {
    height: auto;
}

.feature-box {
    &__title {
        @include media-breakpoint-down(sm) {
            margin-top: 0;
        }
    }

    &__icon {
        color: $color-black;
    }
}

.info-box {
    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }

    &__icon {
        @include media-breakpoint-down(sm) {
            margin: 0 1rem 0 0;
        }
    }
}

.hk-icon--is-banner {
    color: $color-text-darker;
}
