/*
*  Hesapkurdu Arge <arge@hesapkurdu.com>
*/

.banner {
    &::before {
        @include media-breakpoint-down(sm) {
            background-attachment: scroll;
            background-image: url($path + "/images/banner/funnel-mobile-1px.jpg");
            background-size: 100% 100%;
            filter: brightness(100%);
        }
        @include media-breakpoint-up(sm) {
            background-image: url($path + "/images/banner/hesaplama-araci.jpg");
        }
    }
}

.funnel-form {
    @include media-breakpoint-down(sm) {
        min-height: 369px;
    }
    @include media-breakpoint-up(sm) {
        min-height: 429px;
    }
}

.banner__content {
    width: 100%;
}

.calculation-results {
    .table td,
    .table th {
        white-space: nowrap;
    }
}

.rating-container {
    padding: 0;
}

.mobile-rating-container {
    display: inline-flex;
    padding-top: 1rem;
    float: right;
}
